*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    display:flex ;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: aliceblue;
    user-select: none;

}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: -7px;
    left: 0;
    height: 4px;
    transform-origin: right;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.signe{
    height: 40px;
    position: relative;
    font-size: 1.2em; ;
    width: 120px;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
   border-radius: 6px;
   color: aliceblue;
   margin-left: 50px;
}
.signe:hover{
   background-color:aliceblue ;
   color: black;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter:blur(20px) ;
    box-shadow: 0px 0px 30px 00px #162439;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wrapper.from{
    width: 100%;
    padding: 40px;
    
}
.from h2{
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-align: center;
    
}
.input{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162439;
    margin: 30px 0px;
}
.input label{
    position: absolute;
    top: 60%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    font-weight: 500;
    font-size: 1em;
    transition: .5s;
}
.input input:focus~label,.input input:valid~ label{
    top: -5px;
}
.input span{
    position: absolute;
    top: 60%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    font-weight: 500;
    font-size: 1em;
}
.input input{
    width: 100%;
    height: 40%;
    top: 60%;
    transform:translateY(120%);
    background: transparent;
    border: none;
    outline: none;
    padding: 0 30px 0px 5px;
}
.remember{
    font-size: .9em;
    color: #162439;
    font-weight: 500;
    margin: -15px 0px 15px;
    display: flex;
    justify-content: space-between;
}
.remember label input{
    accent-color: #162938;
    margin-right: 3px;
    
}
.remember a {
    color: #162439;
    text-decoration: none;

}
.remember a:hover{
    color: #162439;
    text-decoration: underline;

}

.btn{
    height: 30px;
    width: 100%;
    border: none;
    background-color: #162439;
    color: white;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
    transition: .5s;
   
}
.btn:hover{
    height: 30px;
    width: 100%;
    border: none;
    background-color: #ffffff;
    color:#162439;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
   
}
.login{
    font-size: .9em;
    color:#162439;
    text-align: center;
    font-weight: 500;
    margin: 25px 0px 10px;
}
.login p a{
    color: #162439;
    text-decoration: none;

}
.login p a:hover{
    color: #162439;
    text-decoration: underline;
    
}
.icon-close{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 45px;
    width: 45px;
    background:#162439 ;
    color: white;
    font-size: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    z-index: 1px;

}